<a href="https://colab.research.google.com/github/balajikam/HiveAssessment/blob/main/hive_assessment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Create database driver_bk;

# Driver table

CREATE EXTERNAL TABLE driver_bk.drivers(
driverId INT,
name STRING,
ssn BIGINT,
location STRING,
certified STRING,
wage_plan STRING)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
STORED As TextFile
LOCATION '/user/mavricbdhnov0117/workspace'
tblproperties(
"skip.header.line.count"="1"
);

# Timesheet Table

CREATE EXTERNAL TABLE driver_bk.timesheet(
driverId INT,
week INT,
hours_logged INT,
miles_logged INT)
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
STORED As TextFile
LOCATION '/user/mavricbdhnov0117/workspace'
tblproperties(
"skip.header.line.count"="1"
);

In [ ]:
# Query 1: How many total hours and miles logged by each driver?

SELECT t.driverId, d.name, SUM(t.hours_logged) AS total_hours_logged, SUM(t.miles_logged) AS total_miles_logged FROM timesheet t JOIN drivers d ON t.driverId = d.driverId GROUP BY t.driverId;

In [ ]:
# Query 2: Print the name of the driver in the above query

SELECT t.driverId, d.name, SUM(t.hours_logged) AS total_hours_logged, SUM(t.miles_logged) AS total_miles_logged FROM timesheet t JOIN drivers d ON t.driverId = d.driverId GROUP BY t.driverId;

In [ ]:
# Query 3: Write the above query output in to hdfs directory

INSERT OVERWRITE DIRECTORY  /user/mavricbdhnov0115/warehouse SELECT t.driverId,d.name,SUM(t.hours_logged) AS total_hours_logged,SUM(t.miles_logged) AS total_miles_logged FROM timesheet t JOIN drivers d ON t.driverId = d.driverId GROUP BY t.driverId, d.name;